---

---

@import "minima";

.site-title, .site-title:visited {
  color: #111;
}

.post-heading {
  margin-bottom: 0px;
}

.resume-skills {
  width: 100%;
  margin-bottom: 15px;
}
.resume-skills td {
  vertical-align: top;
}
h3.resume-h3 {
  margin-bottom: 0px;
  font-size: 20px;
}
.resume-spacer {
  margin-bottom: 30px;
}
